################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/1/FileContentIndex/9a459f9a-89cf-4e7e-8a7e-914b809aa52d.vsidx
/.vs/1/FileContentIndex/a7cca6cc-e569-4d1f-a174-42f2c6e04ac7.vsidx
